.dialog {
    margin-bottom: 10px;
    display: flex;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
  }
  div {
    color: #000;
  }
  .card {
    margin: 10px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 100%;
    margin: 0;
  }
  
  .dialog .img-poster {
    width: 200px;
    height: 255px;
    margin: 0 10px 10px;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  .dialog .item {
    margin: 0 10px 0;
    width: 100%;
  }
  
  .dialog .item mat-hint {
    margin-bottom: 5px;
  }
  
  .dialog .item mat-form-field {
    width: 270px;
    margin-top: 5px;
  }
  
  .dialog .item mat-form-field textarea {
    height: 100px;
  }
  
  .group-button {
    clear: left;
    margin-top: 10px;
  }
  