.ava-acc {
  margin: 0 0 0 20px;
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.search {
  background-color: black;
  margin-left: 5px;
}
