<div class="container">
  <div class="header-area">
    <div class="header-right">
      <div class="logo">
        <a
          id="none_underline"
          href="/mp/home"
        ><img
            src="assets/img/logo.png"
            alt="logo"
          /></a>
      </div>
      <form [formGroup]="search">
        <select
          class="search"
          formControlName="type"
        >
          <option
            class="text-white"
            *ngFor="let item of itemSearchBox"
            [value]="item"
          >{{item}}</option>
        </select>
        <input type="text" formControlName="content"/>
        <button (click)="showSearch()"><i class="icofont icofont-search"></i></button>
      </form>
      <ul *ngIf="!accountInf">
        <li><a class="none-underline pointer-cursor">Welcome Guest!</a></li>
        <li>
          <a
            class="none-underline pointer-cursor"
            (click)="goLogin()"
          >Login</a>
        </li>
      </ul>
      <div
        class="ava-acc pointer-cursor"
        *ngIf="accountInf"
        (click)="goAccountProfile()"
      >
        <img
          [src]="accImage.url"
          onError="this.src='../../../../assets/img/avatar-default.png'"
        />
      </div>
    </div>
    <div class="menu-area">
      <div class="responsive-menu"></div>
      <nav class="mainmenu">
        <ul class="primary-menu">
          <li>
            <a
              class="{{ getActive('home') }} none-underline pointer-cursor"
              href="/mp/home"
              (click)="goLink()"
            >Home
            </a>
          </li>
          <li>
            <a
              class="{{ getActive('movies') }} none-underline pointer-cursor"
              href="/mp/movies"
              (click)="goLink()"
            >Movies
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>