* {
    border: none;
}

.modal-changepass {
    background-color: #181818;
}

.modal-header {
    background-color: #202020;
}

.modal-header>* {
    background-color: #202020;
}

.modal-title {
    width: 100%;
    text-align: center;
}

.btn-close {
    background-color: #cecece !important;
    border-radius: 50%;
    font-size: 6px;
    margin-left: 0;
}

.form-group {
    margin: 20px 0;
}

.form-error {
    font-size: 12px;
    color: red;
}

input[type="password"] {
    background-color: #fff;
}