<div class="modal-changepass">
  <div class="modal-header">
    <h4 class="modal-title text-centre">Change the password</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <form class="modal-body" style="width: 380px" [formGroup]="adjustPassword">
    <div class="form-group">
      <input
        id="oldPass"
        type="password"
        class="form-control"
        placeholder="Old password"
        formControlName="oldPass"
        [ngClass]="{'is-invalid': submitted && adjustPassword.get('oldPass')?.errors?.['required']}"
      />
      <div class="invalid-feedback form-error">Please enter old password</div>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="New password"
        formControlName="newPass"
        [ngClass]="{'is-invalid': submitted && adjustPassword.get('newPass')?.errors?.['required']}"
      />
      <div class="invalid-feedback form-error">Please enter new password</div>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Re-enter the new password again"
        formControlName="rePass"
        [ngClass]="{'is-invalid': submitted && adjustPassword.get('rePass')?.errors?.['required']}"
      />
      <div class="invalid-feedback form-error">
        Please re-enter new password
      </div>
      <div class="form-error" *ngIf="submitted && !checkMatchPass()">
        Newly re-entered password does not match
      </div>
      <div
        class="form-error"
        *ngIf="submitted && checkMatchPass() && checkMatchOldPass()"
      >
        The new password must not be the same as the old password
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="nextProcess()">
      Next
    </button>
  </div>
</div>
