<div class="container">
  <div class="signup">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-signup">
        <h3>Sign Up</h3>
        <div class="item">
          <input
            type="text"
            class="form-control input-sm chat-input"
            placeholder="Username"
          />
        </div>
        <div class="item">
          <input
            type="password"
            class="form-control input-sm chat-input"
            placeholder="Password"
          />
        </div>
        <div class="item">
          <input
            type="email"
            class="form-control input-sm chat-input"
            placeholder="Email"
          />
        </div>
        <div class="row group-item">
          <div class="col item-child">
            <input
              type="text"
              class="form-control input-sm chat-input"
              placeholder="First name"
            />
          </div>
          <div class="col item-child">
            <input
              type="text"
              class="form-control input-sm chat-input"
              placeholder="Last name"
            />
          </div>
        </div>
        <div class="item">
          <input
            type="text"
            class="form-control input-sm chat-input"
            placeholder="Birthday"
          />
        </div>
        <div class="item"><span>Gender</span></div>
        <div class="row group-item">
          <div class="col item-child">
            <input
              type="radio"
              id="customRadioInline1"
              name="customRadioInline1"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="customRadioInline1"
              ><span>Male</span></label
            >
          </div>
          <div class="col item-child-radio">
            <input
              type="radio"
              id="customRadioInline2"
              name="customRadioInline1"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="customRadioInline2"
              ><span>Female</span></label
            >
          </div>
        </div>
        <div><a class="theme-btn theme-btn none-underline">Sign Up</a></div>
      </div>
    </div>
  </div>
</div>
