<mat-nav-list>
  <div class="logo py-4">
    <img
      src="https://www.pngitem.com/pimgs/m/128-1280822_check-mark-box-clip-art-blue-admin-icon.png"
      alt="companylogo"
    >
  </div>
  <mat-divider></mat-divider>
  <br>
  <a
    mat-list-item
    routerLink='/admin/pages/dashboard'
    routerLinkActive='list-item-active'
  >
    <mat-icon>dashboard</mat-icon>Dashboard
  </a>
  <a
    mat-list-item
    routerLink='/admin/pages/movie'
    routerLinkActive='list-item-active'
  >
    <mat-icon>movie</mat-icon>Movie
  </a>
  <a
    mat-list-item
    routerLink='/admin/pages/user'
    routerLinkActive='list-item-active'
  >
    <mat-icon>supervised_user_circle</mat-icon>User
  </a>
  <a
    mat-list-item
    routerLink='/admin/pages/genre'
    routerLinkActive='list-item-active'
  >
    <mat-icon>view_agenda</mat-icon>Genre
  </a>
  <a
    mat-list-item
    routerLink='/admin/pages/cast'
    routerLinkActive='list-item-active'
  >
    <mat-icon>cast</mat-icon>Cast
  </a>
  <a
    mat-list-item
    routerLink='/admin/pages/director'
    routerLinkActive='list-item-active'
  >
    <mat-icon>person_pin</mat-icon>Director
  </a>
  <a
    mat-list-item
    routerLink='/admin/pages/payment'
    routerLinkActive='list-item-active'
  >
    <mat-icon>payment</mat-icon>Turnover
  </a>
  <a
    mat-list-item
    routerLink='/admin/pages/promotion'
    routerLinkActive='list-item-active'
  >
    <mat-icon>shopping_cart</mat-icon>Promotion
  </a>
</mat-nav-list>