<mat-nav-list>
  <div class="logo py-4">
    <img src="https://www.pngitem.com/pimgs/m/128-1280822_check-mark-box-clip-art-blue-admin-icon.png" alt="companylogo">
  </div>
  <mat-divider></mat-divider>
  <br>
<!--  <a mat-list-item routerLink='/admin/pages/dashboard' routerLinkActive='list-item-active'>-->
<!--    <mat-icon>dashboard</mat-icon>Dashboard-->
<!--  </a>-->
  <a mat-list-item routerLink='/admin/pages/movie' routerLinkActive='list-item-active'>
    <mat-icon>movie</mat-icon>Movie
  </a>
  <a mat-list-item routerLink='/admin/pages/user' routerLinkActive='list-item-active'>
    <mat-icon>supervised_user_circle</mat-icon>User
  </a>
</mat-nav-list>
