<div class="single-portfolio" *ngIf="movie">
  <div class="single-portfolio-img">
    <div class="movie-poster">
      <img
        [src]="getImage()"
        alt="portfolio"
      />
      <a class="popup-youtube pointer-cursor" (click)="goToMovieDetail()">
        <i class="icofont icofont-ui-play"></i>
      </a>
    </div>
    <div
      class="icon-on-top-box"
      ngbTooltip="Vip"
      [openDelay]="300"
      [closeDelay]="500"
      *ngIf="movie && movie.moviePrice >  0"
    >
      <div class="icon-vip">
        <img src="../../../../assets/img/vip-card.png" />
      </div>
    </div>
  </div>
  <div class="portfolio-content" (click)="goToMovieDetail()">
    <div class="review">
      <ngb-rating [rate]="evaluate.rate" [max]="5" [readonly]="true"></ngb-rating>
    </div>
    <h6>{{movie.name}}</h6>
  </div>
</div>
