.movie-detail {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin: 0;
  background-color: #111;
}
.container {
  max-width: 100%;
  padding: 150px 50px;
  height: fit-content;
}

.details {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-around;
  margin: 100px 0;
  background-color: #111;
}
.item-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
}
.detail-item {
  margin: 0 2px;
  width: fit-content;
  max-width: 100%;
}

.show-img-movie {
  border-radius: 3px;
  width: 200px;
  height: calc(200px * 1.618);
}

.paragraph {
  max-width: 550px;
  margin: 20px 0 0 0;
  width: fit-content;
  height: fit-content;
}

.content-paragraph {
  height: var(--height);
  padding: 5px 0 0 0;
  font-size: medium;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #828282;
  text-align: justify;
}

ngb-rating::ng-deep > span {
  color: yellow;
  font-size: 150%;
}

.rate {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.number-rate {
  max-height: 100%;
  padding: 0 0 0 10px;
}

.hover-collapse:hover > span {
  color: #eb315e;
}

.hover-collapse {
  width: fit-content;
}

.hover-collapse > span {
  font-size: 14px;
}

.intro-right {
  display: grid;
  grid-template-columns: auto auto;
  width: 300px;
  height: fit-content;
}

.intro-item {
  margin-left: 20px;
  padding-bottom: 10px;
}

.item-h-right > h6 {
  height: 24px;
  padding-top: 2.5px;
}

.group-btn-movie {
  width: 200px;
  height: 40px;
}

.btn-fl {
  margin: 0;
  width: 128px;
  height: 36px;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.pay-movie {
  margin: 10px 0;
}

.btn-unfl {
  opacity: 1;
  background: linear-gradient(90deg, #292b2c, #3f4143);
}
.btn-unfl:hover {
  opacity: 0.9;
  background: linear-gradient(90deg, #292b2c, #3f4143);
}

.btn-infl {
  opacity: 1;
  background: linear-gradient(90deg, #ff3055, #fb685f);
}

.btn-infl:hover {
  opacity: 0.9;
  background: linear-gradient(90deg, #ff3055, #fb685f);
}
.btn-info:focus {
  box-shadow: none;
}
.btn-pay-now {
  opacity: 1;
  background: linear-gradient(90deg, #1900ff, #5fdcfb);
}
.btn-pay-now:hover {
  opacity: 0.9;
  background: linear-gradient(90deg, #1900ff, #5fdcfb);
}
