<div class="comment">
  <div class="ava-cmt"></div>
  <div class="detail-comment">
    <div class="detail-comment-item h-evaluate">
      <div><h6>Huỳnh Quốc Khánh</h6></div>
      <div class="time-evaluate"><span>Hôm qua</span></div>
    </div>
    <div class="detail-comment-item cmt-paragraph">
      <p>
        Lorem ipsum dolor sit amet . Các nhà khai thác đồ họa và đánh máy biết
        rõ điều này, trên thực tế, tất cả các ngành nghề liên quan đến vũ trụ
        giao tiếp đều có mối quan hệ ổn định với những từ này, nhưng nó là gì?
        Lorem ipsum là một văn bản giả không có nghĩa. Đây là một chuỗi các từ
        Latinh , khi chúng được định vị , không tạo thành các câu với một ý
        nghĩa hoàn chỉnh, nhưng hãy tạo sức sống cho một văn bản thử nghiệm hữu
        ích để lấp đầy các khoảng trống mà sau đó sẽ bị chiếm dụng từ các văn
        bản đặc biệt do các chuyên gia truyền thông soạn.
      </p>
    </div>
  </div>
</div>
