<div class="comment" *ngIf="evaluate">
  <div class="ava-cmt">
    <img [src]="avatar.url">
  </div>
  <div class="detail-comment">
    <div class="h-evaluate">
      <div class="mr-2">
        <div>
          <h6>{{getFullName()}}</h6>
        </div>
        <div class="cmt-rating">
          <ngb-rating
            [rate]="evaluate.rate"
            [max]="5"
            [readonly]="true"
          ></ngb-rating>
        </div>
      </div>
      <time>{{evaluate.date | amTimeAgo}}</time>
    </div>
    <div class="cmt-paragraph">
      <p>{{evaluate.content}}</p>
    </div>
  </div>
</div>