.comment {
  display: flex;
}
ngb-rating::ng-deep > span {
  color: yellow;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.ava-cmt {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin: 0 10px;
  overflow: hidden;
}
.mr-3 > div > h6 {
    padding: 0;
    margin: 0;
}
.h-evaluate {
  display: flex;
  align-items: flex-start;
}
time {
    font-size: 13px;
}
.time-evaluate {
  padding-right: 80px;
}

.detail-comment {
  margin: 0 0 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cmt-paragraph > p {
  color: #828282;
  padding: 0 80px 0 0;
  width: 100%;
}
