<div class="root-payment">
  <div class="container">
    <div><h3>Pay</h3></div>
    <div class="pay-page row">
      <div class="left-payment col-sm-7">
        <div class="details-movie-pay">
          <div><h5>Title Movie</h5></div>
          <div><span>Watch forever</span></div>
        </div>
        <div class="paypal">
          <div #paypal></div>
        </div>
      </div>
      <div class="right-payment col-sm-5">
        <div class="billing-payment box-background">
          <div class="title-info-payment">
            <h4>Billing Information</h4>
          </div>
          <div class="content-info-payment">
            <div class="rows-content-infor-payment">
              <div><span>Account</span></div>
              <div><h6>khanh</h6></div>
              <div><span>Service</span></div>
              <div><h6>khanh</h6></div>
              <div><span>Purchase service pack</span></div>
              <div><h6>khanh</h6></div>
              <div><span>Package price</span></div>
              <div><h6>khanh</h6></div>
              <div><span>Service pack type</span></div>
              <div><h6>khanh</h6></div>
            </div>
            <div class="rows-content-infor-payment amount-pay">
              <div><span>Amount to be paid</span></div>
              <div><h6 class="amount-color">20$</h6></div>
            </div>
          </div>
        </div>
        <div class="promotion box-background">
          <div class="title-info-payment"><h5>Enter promo code</h5></div>
          <div class="input-promo">
            <div>
              <input type="text" />
              <button class="btn btn-info">Apply</button>
            </div>
          </div>
          <div class="payment-policy">
            <p>
              By accepting payment, you agree to FPT Play's Terms of Service
              use, and authorize FPT Play to automatically renew upon
              expiration. You can cancel your renewal at any time. See details
              here
            </p>
          </div>
          <div><button>Pay</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
