<div class="cast-item-style-2 cast-item-style-1">
    <img
        [src]="avatarModel.url"
        alt="img cast"
    >
    <div class="hvr-inner">
        <button
            class="detail"
            (click)="detailDirector()"
        >
            <a>Details</a>
        </button>
        <button
            class="delete"
            (click)="deleteDirector(director.id)"
        >
            <a>Remove</a>
        </button>
    </div>
    <div class="mv-item-infor pointer-default">
        <h6><a>{{director.name}}</a></h6>
    </div>
</div>