<div class="head-user">
  <div class="title-list-user">
    <h1>user list</h1>
  </div>
</div>
<mat-divider></mat-divider>
<div class="search-root">
  <mat-form-field
    appearance="outline"
    class="search-group"
  >
    <input
      placeholder="Search username here..."
      matInput
      type="search"
      [(ngModel)]="searchUser"
    />
    <button
      *ngIf="searchUser !== ''"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchUser=''"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon
      *ngIf="searchUser === ''"
      matSuffix
    >search</mat-icon>
  </mat-form-field>
</div>
<div class="container tab">
  <div class="group-on-table">
    <label class="show-entries ">
      Show
      <select
        style="width: 50px; height: 30px"
        name="tbUsers_length"
        aria-controls="tbUsers"
        [(ngModel)]="entries"
        class="custom-select custom-select-sm form-control form-control-sm"
      >
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      entries
    </label>
    <div class="group-btn">
      <button
        style="margin: 5px"
        class="btn btn-success group-btn-user"
        (click)="addUser()"
      >
        <mat-icon>person_add</mat-icon>
      </button>
      <button
        class="btn btn-primary group-btn-user"
        (click)="reloadAccList()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <div class="group-table">
    <div>
      <table
        style="background-color: #ffffff"
        matSort
        (matSortChange)="sortData($event)"
        class="table table-hover table-bordered text-nowrap table-striped mat-small"
      >
        <thead style="align-items: center;">
          <tr
            class="bg-table-header"
            style="text-align: left;"
          >
            <th mat-sort-header="username">Username</th>
            <th mat-sort-header="firstname">First name</th>
            <th mat-sort-header="lastname">Last name</th>
            <th mat-sort-header="email">Email</th>
            <th mat-sort-header="status">Staus</th>
            <th>Role</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody style="font-size: 16px;">
          <tr
            *ngFor="let acc of sortedData | accFilter: searchUser | paginate: { itemsPerPage: entries, currentPage: p }"
          >
            <td>{{acc.username}}</td>
            <td>{{acc.firstname}}</td>
            <td>{{acc.lastname}}</td>
            <td>{{acc.email}}</td>
            <td class="format-status text-center">
              <mat-icon
                class="text-success pointer-default"
                data-toggle="tooltip"
                data-placement="top"
                title="active"
                *ngIf="acc.enable"
              >check_circle</mat-icon>
              <mat-icon
                class="text-danger  pointer-default"
                data-toggle="tooltip"
                data-placement="top"
                title="disabled"
                *ngIf="!acc.enable"
              >error</mat-icon>
            </td>
            <td>
              <button
                style="margin: 4px"
                *ngFor="let role of acc.groupOfRolesDtos"
                mat-raised-button
              >{{jsUcfirst(role.accountRole.name)}}</button>
            </td>
            <td class="text-center">
              <div
                ngbDropdown
                class="d-inline-block"
              >
                <button
                  class="btn btn-secondary btn-setting"
                  type="button"
                  id="dropdownMenuButton"
                  ngbDropdownToggle
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <mat-icon>settings</mat-icon>
                </button>
                <div
                  ngbDropdownMenu
                  aria-labelledby="dropdownMenuButton"
                >
                  <button
                    ngbDropdownItem
                    class="btn btn-secondary"
                    (click)="editAccount(acc.id)"
                  >
                    <mat-icon>edit</mat-icon>
                    <label>Edit</label>
                  </button>
                  <button
                    ngbDropdownItem
                    [disabled]="acc.username === yourUsername"
                    class="btn btn-secondary"
                    (click)="removeAccount(acc.username)"
                  >
                    <mat-icon>delete_forever</mat-icon>
                    <label>Delete</label>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-movie">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>