.header {
  flex: 1 1 auto;
}
.header-toolbar {
  display: flex;
  justify-content: flex-end;
}
.mat-toolbar {
  padding: 3px;
  height: auto;
  border-radius: 2px;
  border-style: inset;
  border-color: rgba(255, 255, 255, 0.71);
  border-left: none;
  border-right: none;
  background: #ffffff;
}

.image_profile {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btn_profile {
  border-radius: 30px;
  padding: 5px;
  width: auto;
}

.btn_profile:hover {
  width: auto;
  border-radius: 30px;
  background-color: #e7e7e7;
  /*opacity: 50%;*/
}

.btn_menu {
  padding: 0;
  margin: 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40px;
  min-width: 30px;
  height: 40px;
  background-color: #e8e8e8;
  border-radius: 50%;
}

.btn_menu:hover {
  background-color: #f8f8f8;
}

::ng-deep .mat-menu-panel {
  background: #ffffff;
  border: 1px solid rgba(171, 183, 196, 0.34);
  padding: 0 3px;
  border-radius: 5px;
}

.img_account_profile {
  height: 3.5em;
  width: 3.25em;
  border-radius: 100%;
  overflow: hidden;
}
.img_account {
  height: 5em;
  width: 4.75em;
  border-radius: 50%;
  overflow: hidden;
}

.img_acount_detail {
  float: left;
  width: 100%;
  height: 100%;
}

.style_username {
  display: block;
  align-items: flex-start;
  padding-left: 5px;
  margin-right: 10px;
  color: #7e8299;
}

.username {
  color: #0b2e13;
  height: 20px;
  align-items: center;
}

.footer_username {
  margin: 0;
  width: fit-content;
  height: fit-content;
  padding: 0;
  font-size: 10px;
}

.style_menu {
  color: #000000;
}

::ng-deep .mat-menu-item {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.btn_account {
  margin: 0;
  height: 100%;
}

.btn_menu_use:hover {
  border-radius: 5px;
  background-color: rgba(234, 234, 234, 0.64);
}
